{% include 'header.html' %}
{% load staticfiles %}

<div class="row">
  <div class="col-md-3">
    <ul id="myTab" class="nav nav-tabs">
      <li class="active"><a href="#localdata" data-toggle="tab">Local Data</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane fade in active" id="localdata">
      <div class="alert alert-info"><p>Supported formats: Shapefile, GeoTIFF, GeoJSON files.</p></div>
        <form action="{% url 'resource' %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <p>{{ form.non_field_errors }}</p>
          <p>
            {{ form.docfile.errors }}
            {{ form.docfile }}
          </p>
          <p><button type="submit" value="Upload" class="btn btn-primary btn-lg">Submit</button></p>
          {% if notification %}
            <div class="alert alert-warning" role="alert"><b>Warning!</b><br>
            {{ notification }}
            </div>
          {% endif %}
        </form>
      </div>
    </div>
  </div>

  <div class="col-md-9" id="uploaded_files">
    <h3>Uploaded Files:</h3>
  {% if UPLODED_FILES %}
    <ul>
      {% for file in UPLODED_FILES %}
      <li>
        <a href=""><span class="glyphicon glyphicon-trash red" onclick="Dajaxice.gisweb_app.remove_loaded_file('',{'param': '{{ file }}'});location.reload();"></span>&nbsp </a>
        <a href="/static/uploaded_files/{{ file }}">{{ file }}</a>
      </li><br>
      {% endfor %}
    </ul>
  {% else %}
      <h3><small>No documents.</small></h3>
  {% endif %}
</div>

<script>
  function opendap_status(data) {
    //location.reload();
   document.getElementById('opendap_status').innerHTML = data.status;
  }
  function opendap_getdata(format) {
    document.getElementById('opendap_status').innerHTML = '<div class="alert alert-info" role="alert" >Retrieving data...Please wait.</div>';
    var opendap_url = $('#opendap_url').val();
    var opendap_out_name = $('#opendap_out_name').val();
    Dajaxice.gisweb_app.opendap_getdata(opendap_status,{'opendap_url':opendap_url, 'frm':format, 'opendap_out_name':opendap_out_name});
  }
</script>

{% include 'footer.html' %}
