{% load tif_dict %}


<div class="menu closed" id="menu_geotiff_to_kml">
<span class="close glyphicon glyphicon-remove red"></span>
<h2>GeoTIFF转KML</h2>
      <div class="container">
	<h2><small>第一步：选择GeoTIFF文件:</small></h2>
	{% for each in tiffs_info %}
	<div class="radio">
	<input type="radio" name="existing_geotiff" id="existing_geotiff" value="{{ each|file_name }}">
	<p>{{ each|file_name }}</p>
      </div>
      {% endfor %}
      
      <h2><small>第二步：输入KML的名称:</small></h2>

    <div class="input-group">
      <input class="form-control" id="geotiff_to_kml_name" type="text" placeholder="Enter KML name" value="">
    </div>

  <h2><small>第三步：转换:</small></h2>
  <button type="button" class="btn btn-primary btn-lg" onclick="geotiff_to_kml()">Convert</button>
      <p id='geotiff_to_kml_status'></p>
      </div>
</div>

<script>
  function geotiff_to_kml_status(data) {
    document.getElementById('geotiff_to_kml_status').innerHTML = data.status;
  }
  function geotiff_to_kml() {
    document.getElementById('geotiff_to_kml_status').innerHTML = 'Processing...';
    var selected_geotiff = $('input[name="existing_geotiff"]:checked').val();
    var geotiff_to_kml_name = $('#geotiff_to_kml_name').val();
    Dajaxice.gisweb_app.geotiff_to_kml(geotiff_to_kml_status,{'selected_geotiff': selected_geotiff, 'geotiff_to_kml_name':geotiff_to_kml_name});
  }
</script>
