{% load staticfiles %}

<!-- vector tools-->
{% include '/tools/re_project_shapefile.html' %}
{% include '/tools/extract_shp_table.html' %}
{% include '/tools/shp_to_kml.html' %}
{% include '/tools/shp_to_tif.html' %}
{% include '/tools/shp_to_json.html' %}
{% include '/tools/coord_to_point_shp.html' %}
{% include '/tools/buffer_shp.html' %}
{% include '/tools/point_inside_shapefile.html' %}


<!-- raster tools-->
{% include '/tools/re_project_geotiff.html' %}
{% include '/tools/clip_geotiff_by_shp.html' %}
{% include '/tools/geotiff_to_kml.html' %}
{% include '/tools/geotiff_resolution.html' %}
{% include '/tools/tif_to_point_shp.html' %}
{% include '/tools/tif_to_point_json.html' %}
{% include '/tools/color_table_geotiff.html' %}

{% include 'header.html' %}

<div id="header" class="navbar" style="overflow:visible;">
    <div id="navbar-container">
        <div id="navbar-header">
            <small style="color:#ccc">GIS Online beta</small>
        </div>
        <div class="navbar-collapse" id="navbar-collapse">
				<ul id="navbar-nav">
					<li><a href="/resource">数据</a></li>
					<li><a href="/information">信息</a></li>
					<li><a href="/visualiser">地图</a></li>
					<li  class="header-active"><a href="/tools">工具</a></li>
				</ul>			
		</div>
    </div>
</div>


<div class="row">
<div id="toggle"> </div>

<div class="container col-md-5">
<div class="tree">
    <ul>
        <li>
            <span><i class="icon-folder-open"></i><div id="tools_title">矢量图层工具</div></span>
            <ul>
                <li>
                	<span><i class="icon-minus-sign"></i><div id="tools_subtitle">格式转换</div></span>
                    <ul>
                        <li>
	                        <span><div class="icon-leaf open" id="shp_to_kml"><div id="tool_title">Shapefile转KML</div></div></span>
                        </li>
                        <li>
	                        <span><div class="icon-leaf open" id="shp_to_tif"><div id="tool_title">Shapefilez转GeoTIFF</div></div></span>
                        </li>
                        <li>
	                        <span><div class="icon-leaf open" id="shp_to_json"><div id="tool_title">Shapefilez换GeoJSON</div></div></span>
                        </li>
                    </ul>
                </li>
                <li>
                    <span><i class="icon-minus-sign"></i><div id="tools_subtitle">Creation</div></span>
                    <ul>
                        <li>
	                        <span><div class="icon-leaf open" id="coord_to_point_shp"><div id="tool_title">Coordinates to Point Shapefile</div></div></span>
                        </li>
                    </ul>
                </li>
                <li>
                    <span><i class="icon-minus-sign"></i><div id="tools_subtitle">空间分析工具</div></span>
                    <ul>
                        <li>
	                        <span><div class="icon-leaf open" id="reproject_shapefile"><div id="tool_title">坐标转换</div></div></span>
                        </li>
                        <li>
	                        <span><div class="icon-leaf open" id="buffer_shapefile"><div id="tool_title">拓扑</div></div></span>
                        </li>
                        <li>
	                        <span><div class="icon-leaf open" id="point_inside_shapefile"><div id="tool_title">添加点</div></div></span>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>
</div>
<div class="container col-md-5">
<div class="tree">
    <ul>
        <li>
            <span><i class="icon-folder-open"></i><div id="tools_title">栅格图层工具</div></span>
            <ul>
                <li>
                	<span><i class="icon-minus-sign"></i><div id="tools_subtitle">格式转换</div></span>
                    <ul>
                        <li>
	                        <span><div class="icon-leaf open" id="geotiff_to_kml"><div id="tool_title">GeoTIFF转KML</div></div></span>
                        </li>
                        <li>
	                        <span><div class="icon-leaf open" id="tif_to_point_shp"><div id="tool_title">GeoTIFF转point Shp</div></div></span>
                        </li>
                        <li>
	                        <span><div class="icon-leaf open" id="tif_to_point_json"><div id="tool_title">GeoTIFF转point JSON</div></div></span>
                        </li>
                    </ul>
                </li>
                <li>
                    <span><i class="icon-minus-sign"></i><div id="tools_subtitle">分析工具</div></span>
                    <ul>
                        <li>
	                        <span><div class="icon-leaf open" id="reproject_geotiff"><div id="tool_title">坐标转换</div></div></span>
                        </li>
                        <li>
	                        <span><div class="icon-leaf open" id="clip_geotiff_by_shp"><div id="tool_title">裁剪</div></div></span>
                        </li>
                        <li>
	                        <span><div class="icon-leaf open" id="geotiff_resolution"><div id="tool_title">重采样</div></div></span>
                        </li>
                    </ul>
                </li>
                <li>
                    <span><i class="icon-minus-sign"></i><div id="tools_subtitle">数据管理</div></span>
                    <ul>
                        <li>
	                        <span><div class="icon-leaf open" id="color_table_geotiff"><div id="tool_title">添加像素点</div></div></span>
                        </li>
                    </ul>
                </li>
	    </ul>
        </li>
    </ul>
</div>
</div>
</div>

<script>
$(function () {
    $('.tree li:has(ul)').addClass('parent_li').find(' > span').attr('title', 'Collapse this branch');
    $('.tree li.parent_li > span').on('click', function (e) {
        var children = $(this).parent('li.parent_li').find(' > ul > li');
        if (children.is(":visible")) {
            children.hide('fast');
            $(this).attr('title', 'Expand this branch').find(' > i').addClass('icon-plus-sign').removeClass('icon-minus-sign');
        } else {
            children.show('fast');
            $(this).attr('title', 'Collapse this branch').find(' > i').addClass('icon-minus-sign').removeClass('icon-plus-sign');
        }
        e.stopPropagation();
    });
});

$(".open").click(function() {
  var id = $(this).attr('id');
  $("#menu_"+id).toggleClass("closed");
  $("#toggle").toggleClass("closed");
});

$(".close").click(function(){
  $(".menu").addClass("closed");
  $("#toggle").toggleClass("closed");
  });
</script>

{% include 'footer.html' %}
